@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('./assets/fonts/roboto-700.eot');
    src: local(''),
         url('./assets/fonts/roboto-700.eot?#iefix') format('embedded-opentype'),
         url('./assets/fonts/roboto-700.woff2') format('woff2'),
         url('./assets/fonts/roboto-700.woff') format('woff'),
         url('./assets/fonts/roboto-700.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('./assets/fonts/roboto-500.eot');
    src: local(''),
         url('./assets/fonts/roboto-500.eot?#iefix') format('embedded-opentype'),
         url('./assets/fonts/roboto-500.woff2') format('woff2'),
         url('./assets/fonts/roboto-500.woff') format('woff'),
         url('./assets/fonts/roboto-500.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('./assets/fonts/roboto-regular.eot');
    src: local(''),
         url('./assets/fonts/roboto-regular.eot?#iefix') format('embedded-opentype'),
         url('./assets/fonts/roboto-regular.woff2') format('woff2'),
         url('./assets/fonts/roboto-regular.woff') format('woff'),
         url('./assets/fonts/roboto-regular.ttf') format('truetype');
}

.light {
    --first-color: #ffffff;
    --second-color: #000000;
    --thirty-color:#f3f3f3;
  }
  
.dark {
    --first-color: #000000;
    --second-color: #ffffff;
    --thirty-color:#000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--second-color);
}

.site-container {
    background: var(--thirty-color);
}

body {
    font-family: 'Roboto', sans-serif;
}

ul, li {
    list-style: none;
    font-family: 'Roboto', sans-serif;
}

.btn_audio {
    outline: none;
    border: none;
    font-size: 25px;
    font-weight: 500;
    line-height: 28px;
    color: var(--second-color);
    padding: 20px 30px;
    border-radius: 10px;
    cursor: pointer;
    transition: all .2s ease-in;
    background: transparent;
}

.btn_audio:hover,
.btn_audio:active,
.btn_audio:focus {
    color: var(--first-color);
    /* background:#f78783; */
    /* background: #fdcb86; */
    background: #1a73e8;
}

.list__item:not(:last-child) {
    margin-right: 15px;
}

.container {
    padding: 0 15px;
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    background: var(--first-color);
}


.header__container {
    /* background: url(./assets/img/drozd.jpg);
    background-position: 0 0;
    background-size: cover;
    background-repeat: no-repeat; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__theme {
    background-image: url(./assets/svg/light.svg);
    background-repeat: no-repeat;
    width: 45px;
    height: 45px;
    cursor: pointer;
    transition: all .3s ease-in;
}

.header__theme:hover {
    transform: rotate(360deg);
}

.header__theme.dark {
    background-image: url(./assets/svg/dark.svg);
}

.list {
    display: flex;
}

.logo {
    width: 80px;
    height: 80px;
}


.main__container {
    background: url(./assets/img/drozd.jpg);
    /* background-position: center -130px; */
    background-size: cover;
    background-repeat: no-repeat;
    height: 645px;
    width: 100%;
    position: relative;
}

.main img {
    max-width: 100%;
    height: auto;
}

.controls {
    position: absolute;
    left: 45%;
    top: 50%;
    display: flex;
}

.btn_control {
    outline: none;
    border: none;
    padding: 0;
    background: transparent;
    cursor: pointer;
    transition: all .2s ease-in;
    width: 64px;
    height: 64px;
    display: block;
    z-index: 3;
}

.btn_control:not(:last-child) {
    margin-right: 30px;
}

.btn_start {
    background-image: url(./assets/svg/play.svg);
}

.btn_download {
    background-image: url(./assets/svg/download.svg);
}

.played {
    background-image: url(./assets/svg/pause.svg);
}


.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px;
}

.footer > * {
    font-size: 32px;
    line-height: 36px;
}

.footer a {
    text-decoration: none;
}

.footer__logo {
    background-image: url(./assets/svg/rss.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 105px;
    height: 53px;
}

.footer__logo.dark {
    background-image: url(./assets/svg/rss1.svg);
}

.footer img {
    width: 110px;
    height: auto;
}

.preview.animation-class {
    transform: translateX(0);
    opacity: 1;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}