.contacts {
  background-image: url(../../assets/img/contacts-bg.jpg);
  background-repeat: no-repeat;
}

.contacts__container {
  padding-top: 61px;
  padding-bottom: 193px;
  display: flex;
  justify-content: flex-end;
}

.contacts__block {
  max-width: 450px;
  width: 100%;
}

.contacts__title {
  margin-bottom: 41px;
  padding: 0;
}

.contacts__btn {
  padding: 8px 40px;
}

@media(max-width:768px) {
  .contacts {
    background-size: cover;
    background-position: -235px 0;
  }
  .contacts__container {
    padding-top: 72px;
    padding-bottom: 111px;
  }

  .contacts__block {
    margin: 0 auto;
  }

  .contacts__title {
    margin-bottom: 52px;
    text-align: center;
  }
  .contacts button {
    margin: 0 auto;
  }
}