.header {
  background: url('../../assets/img/hero-bg.jpg');
  background-repeat: no-repeat;
  background-position: center 0;
  position: relative;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header__container svg  {
  cursor: pointer;
}

.header__container svg:hover {
  stroke: var(--color-mongoose);
  fill: var(--color-mongoose);
}

.header__list {
  display: flex;
}

.header__nav {
  margin-right: 31px;
}

.lang__list {
  display: flex;
  align-items: center;
  position: relative;
  margin-right: 35px;
}

.lang__list::after {
  content: "/";
  position: absolute;
  color: var(--color-white);
  font-weight: 700;
  font-size: 20px;
  line-height: 50px;
  top: 0;
  left: 50%;
}

.lang__item {
  position: relative;
}

.lang__item:not(:last-child) {
  margin-right: 25px;
}

.btn__lang--active {
  color: var(--color-mongoose);
}

.btn__lang {
  color: var(--color-white);
  font-weight: 700;
  font-size: 20px;
  line-height: 50px;
}

.header__theme {
  cursor: pointer;
  transition: all .2s ease-in-out;
  margin-right: 30px;
}


/* Media Queries */
@media (max-width: 768px) {
  .header {
    background: url(../../assets/img/small-bg.jpg);
    background-position: center 0;
  }
  .header__nav {
      display: none;
  }

  .header__container {
      padding-right: 60px;
      padding-left: 60px;
  }

  .lang__list {
      margin-right: 20px;
  }

  .burger-toggle {
      display: block;
  }

  .lang__item:not(:last-child) {
      margin-right: 25px;
  }
}