.hero {
  background: url('../../assets/img/hero-bg.jpg');
  background-position: center -90px;
  background-repeat: no-repeat;
  padding: 160px 0 329px 80px;
  color: var(--color-white);
}

.hero__block {
  max-width: 482px;
  width: 100%;
}

.hero__title {
  margin-bottom: 10px;
}

.hero__text {
  margin-bottom: 25px;
}

.hero__btn {
  padding: 8px 75px;
}


/* Media Queries */
@media(max-width: 768px) {
  .hero {
    padding: 74px 0 150px 60px;
    background: url(../../assets/img/small-bg.jpg);
    background-position: center -92px;
    background-repeat: no-repeat;
  }

  .hero__block {
      max-width: 425px;
  }

  .hero__title {
      font-size: 32px;
      line-height: 64px;
      font-weight: 400;
      margin-bottom: 21px;
  }

  .hero__text {
      font-size: 20px;
      line-height: 24px;
      margin-bottom: 59px;
  }
}