.portfolio {
  background-color: var(--color-black);
}

.portfolio__container {
  padding-top: 100px;
}

.portfolio__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 895px;
  width: 100%;
  margin: 0 auto 60px;
}

.portfolio__btn {
  width: 220px;
  height: 55px;
  background-color: var(--color-black);
  color: var(--color-mongoose);
  border: 1px solid var(--color-mongoose);
  padding: 0;
}

.portfolio__item:not(:last-child) {
  margin-right: 5px;
}

.portfolio__btn:active, 
.portfolio__btn:focus {
  background-color: var(--color-mongoose);
  color: var(--color-black);
}

.portfolio__title {
  margin-bottom: 60px;
  text-align: center;
}

.portfolio__title::after,
.portfolio__title::before {
  display: inline-block;
  content: "";
  width: 238px;
  height: 2px;
  background-color: var(--color-mongoose);
  color: var(--color-mongoose);
  position: absolute;
}

.portfolio__title::before {
  top: 48%;
  left: 25%;
}

.portfolio__title::after {
  top: 48%;
  right: 25%;
} 

.portfolio__gallery {
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(560px, 1fr));
}

.portfolio__img {
  background-size: contain;
  background-repeat: no-repeat;
  width: 460px; 
  height: 560px;  
}

@media(max-width: 768px) {
  .portfolio__container {
      padding-top: 72px;
      padding-bottom: 30px;
  }

  .portfolio__list {
      max-width: 450px;
      justify-content: center;
  }

  .portfolio__item:not(:last-child) {
    margin: 0;
  }

  .portfolio__title {
    margin-bottom: 71px;
  }

  .portfolio__item {
      margin: 0;
  }

  .portfolio__item:nth-child(1),
  .portfolio__item:nth-child(3) {
    margin-right: 5px;
  }

  .portfolio__btn {
      margin: 0;
  }

  .portfolio__gallery {
    justify-content: center;
    margin: 0 auto;
    grid-template-columns: none;
  }
}