.skills {
  background-color: var(--first-color);
  color: var(--second-color);
}

.skills__container {
  padding-top: 100px;
  padding-bottom: 23px;
}

.skills__title {
  margin-bottom: 60px;
  text-align: center;
  position: relative;
  color: var(--second-color);
}

.skills__items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  align-items: center;
  column-gap: 40px;
}

.skills__item  {
  padding: 0 20px 8px;
  text-align: center;
}

.skills__item svg {
  margin-bottom: 39px;
}

.skills__item h4 {
  margin-bottom: 21px;
}

.skills__text {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 36px;
  color: var(--thirty-color);
}


/* Media Queries */
@media(max-width: 768px) {
  .skills__container {
    padding-bottom: 93px;
  }

  .skills__items {
      column-gap: 0;
      row-gap: 60px;
  }

  .skills__item {
      padding: 0 30px 8px;
  }

  .skills__item svg {
      margin-bottom: 27px;
  }

  .skills__title {
      margin-bottom: 60px;
  }

  .skills__text {
      font-size: 18px;
      line-height: 22px;
  }
}