.skills {
  background-color: var(--first-color);
  color: var(--second-color);
}

.skills__container {
  padding-top: 100px;
  padding-bottom: 23px;
}

.skills__title {
  margin-bottom: 60px;
  text-align: center;
  position: relative;
  color: var(--second-color);
}

.skills__items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  align-items: center;
  column-gap: 40px;
}

.skills__item  {
  /* padding: 0 20px 8px;
  text-align: center; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: 224px;
  padding-bottom: 40px;
}

.skills__item svg {
  /* margin: 0 auto; */
  /* margin-bottom: 39px; */
  height: 50px;
}

.skills__item h4 {
  /* margin-bottom: 21px; */
}

.skills__text {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 36px;
  color: var(--thirty-color);
}


/* Media Queries */
@media(max-width: 768px) {
  .skills__items {
      column-gap: 42px;
      row-gap: 41px;
      padding: 0 40px 27px;
  }

  .skills__item {
    padding: 0 12px 40px;
  }

  .skills__item h4 {
    margin-bottom: 10px;
  }

  .skills__item svg {
      margin-bottom: 27px;
  }

  .skills__title {
      margin-bottom: 60px;
  }

  .skills__text {
      font-size: 18px;
      line-height: 22px;
  }
}