.video {
  background-color: var(--color-black);
}

.video__container {
  padding-top: 74px;
}

.video__title {
  text-align: center;
  margin-bottom: 60px;
}

.video__player {
  background-image: url(../../assets/img/video.jpg);
  max-width: 1400px;
  height: 705px;
  position: relative;
}

.video__player svg {
  position: absolute;
  top: 41%;
  left: 45%;
  z-index: 1;
  cursor: pointer;
}

.video__container svg:hover {
  stroke: var(--color-mongoose);
  fill: var(--color-mongoose);
}

.video__title::after,
.video__title::before {
  display: inline-block;
  content: "";
  width: 270px;
  height: 2px;
  background-color: var(--color-mongoose);
  color: var(--color-mongoose);
  position: absolute;
}

.video__title::before {
  top: 48%;
  left: 25%;
}

.video__title::after {
  top: 48%;
  right: 25%;
}

@media(max-width: 768px) {
  .video__container {
    padding-right: 0;
    padding-left: 0;
  }
  .video__title {
    margin-bottom: 70px;
  }

  .video__player {
    height: 418px;
    background-size: cover;
  }

  .video__player svg {
    width: 65px;
    height: 69px;
    top: 42%;
    left: 46%;
  }
}