.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 25px;
  padding-bottom: 25px;
}

@media (max-width: 480px) {
  .header__container {
    flex-wrap: wrap;
    padding: 0 30px;
  }
}